// colors
$color-bg-well: #eee;

// spacings
$spacing: 20px;
$spacing-half: $spacing / 2;
$spacing-third: $spacing / 3;
$spacing-quarter: $spacing / 4;
$spacing-double: $spacing * 2;
$spacing-triple: $spacing * 3;
